---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Kir Peñalber"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('June 01 2023')}
	updatedDate={new Date('June 01 2023')}
	heroImage="/placeholder-about.jpg"
>
	<p>
		This is a work-in-progress.
	</p>
</Layout>
