---
import MainIndex from "../components/MainIndex.astro";
import BottomPillMenu from "../components/BottomPillMenu.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>{ SITE_TITLE }</title>
    <meta name="description" content={ SITE_DESCRIPTION } />
    <link rel="icon" type="image/x-icon" href="/favicon.svg" />
    
    <!-- CSS -->
    <link rel="stylesheet" href="../styles/global.css" />
    
    <!-- Font Preload -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap"
      rel="stylesheet"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={ SITE_TITLE } />
    <meta property="og:description" content={ SITE_DESCRIPTION } />
    <meta property="og:image" content="/opengraph-image.png"  />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={ SITE_TITLE } />
    <meta property="twitter:description" content={ SITE_DESCRIPTION } />
    <meta property="twitter:image" content="/opengraph-image.png" />

  </head>
  <body class="bg-black h-screen flex justify-center items-center">
    <MainIndex />
    <BottomPillMenu />
  </body>
</html>
