<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Kir Peñalber</title>
</head>
<body class="bg-[#F8F8F7] h-screen flex justify-center items-center">
  <div class="max-w-lg w-full mx-4 text-center">
    <h1 class="sm:text-3xl text-2xl font-bold text-[#161416] mb-4">Kir is a Design Engineer and Applied Researcher.</h1>
  </div>
</body>
</html>
