---
import Navbar from '../components/navbar/MainNavbar';
import '../styles/index.css';
---

<html>
	<head>
		<meta charset="utf-8" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:image" content="" />
        <meta property="og:title" content="Kir Peñalber" />
        <meta property="og:description" content="Kir Peñalber is a product designer with a knack for creative experiences. She's currently Boozt's Head of Design and a freshman at Ateneo de Manila University." />
        <meta property="og:url" content="" />
        <meta property="og:type" content="website" />
        <title>Kir Peñalber</title>
        <link rel="preconnect" href="https://use.typekit.net" />
        <link rel="preconnect" href="https://use.typekit.net" crossorigin/>
        <link rel="preload" href="https://use.typekit.net/bpr3edc.css" as="style">
        <link rel="stylesheet" href="https://use.typekit.net/bpr3edc.css">
	</head>
	<body>
        <Navbar/>
		<main>	
        </main>
	</body>
</html>
