<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Kir Peñalber</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body class="bg-white h-screen flex justify-center items-center">
  <div class="max-w-lg w-full sm:mx-4 sm:p-4 mx-12 text-left">
    <h1 class="text-[18px] font-medium text-[#161416] tracking-tight font-inter">Kir Peñalber</h1>
    <p class="text-base sm:font-light font-normal text-[#9CA3AF] tracking-tight font-inter">Design Engineer, Sophomore at Ateneo de Manila University</p>
  </div>
</body>
</html>
