<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Kir Peñalber</title>
</head>
<body class="bg-white h-screen flex justify-center items-center">
  <div class="max-w-lg w-full sm:mx-4 sm:p-4 mx-12 text-left">
    <h1 class="text-[18px] font-medium text-[#161416]">Kir Peñalber</h1>
    <p class="text-base font-normal text-[#9CA3AF]">Design Engineer, Sophomore at Ateneo de Manila University</p>
  </div>
</body>
</html>
