---
---
<div class="fixed z-20 inline-flex gap-2 items-center py-3 px-5 bg-[#0A0A0A] border border-[#1B1B1B] font-geist overflow-hidden rounded-full bottom-8 text-white max-h-12">
    <div class="mr-1 text-sm font-medium">Socials</div>
    <div class="w-px h-6 rounded-full bg-white/5"></div>
    <div class="inline-flex gap-2">
        <div>
            <button class="flex items-center justify-center w-8 h-8 antialiased" aria-label="X">
                <a href="https://twitter.com/kirpen_" target="_blank">
                    <svg width="20" height="20" viewBox="0 0 20 20" class="fill-current" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.773 2.5h2.545l-5.56 6.354 6.54 8.646h-5.12l-4.01-5.244-4.59 5.244H2.032l5.946-6.796L1.704 2.5h5.25l3.626 4.793L14.773 2.5zm-.893 13.477h1.41L6.19 3.943H4.676l9.204 12.034z"></path>
                    </svg>
                </a>
            </button>
        </div>
        <div>
            <button class="flex items-center justify-center w-8 h-8 text-white antialiased" aria-label="Instagram">
                <a href="https://instagram.com/kirpnlbr" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 50 50">
                        <path fill="currentColor" d="M 16 3 C 8.8324839 3 3 8.8324839 3 16 L 3 34 C 3 41.167516 8.8324839 47 16 47 L 34 47 C 41.167516 47 47 41.167516 47 34 L 47 16 C 47 8.8324839 41.167516 3 34 3 L 16 3 z M 16 5 L 34 5 C 40.086484 5 45 9.9135161 45 16 L 45 34 C 45 40.086484 40.086484 45 34 45 L 16 45 C 9.9135161 45 5 40.086484 5 34 L 5 16 C 5 9.9135161 9.9135161 5 16 5 z M 37 11 A 2 2 0 0 0 35 13 A 2 2 0 0 0 37 15 A 2 2 0 0 0 39 13 A 2 2 0 0 0 37 11 z M 25 14 C 18.936712 14 14 18.936712 14 25 C 14 31.063288 18.936712 36 25 36 C 31.063288 36 36 31.063288 36 25 C 36 18.936712 31.063288 14 25 14 z M 25 16 C 29.982407 16 34 20.017593 34 25 C 34 29.982407 29.982407 34 25 34 C 20.017593 34 16 29.982407 16 25 C 16 20.017593 20.017593 16 25 16 z"></path>
                    </svg>                  
                </a>
            </button>
        </div>
        <div>
            <button class="flex items-center justify-center w-8 h-8 antialiased" aria-label="Send E-mail">
                <a href="mailto:penalberkirstine@gmail.com" target="_blank">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.13 3.332c-.805 0-1.458.653-1.458 1.458v.867l8.24 4.146c.058.03.128.03.187 0l8.24-4.146V4.79c0-.805-.653-1.458-1.459-1.458H3.13z" fill="currentColor"></path><path d="M18.338 7.059l-7.677 3.863a1.458 1.458 0 01-1.311 0L1.672 7.059v8.15c0 .806.653 1.46 1.458 1.46h13.75c.806 0 1.459-.654 1.459-1.46V7.06z" fill="currentColor"></path>
                    </svg>
                </a>
            </button>
        </div>
    </div>
</div>
