---
import { SITE_TITLE } from "../consts";
---
<div class="max-w-md w-full sm:mx-0 mx-10">
    <div class="mb-5">
        <h1 class="text-white font-medium font-inter tracking-tight">{ SITE_TITLE }</h1>
        <p class="text-[#AAAAAA] font-geist">Artist and Technologist</p>
    </div>
    <div class="mb-8">
        <p class="text-[#AAAAAA] font-geist">Experimenting with creative development on the web. Former Founding Designer of <a href="https://boozt.io" class="underline decoration-[#606060] decoration-1 underline-offset-[2.5px] hover:decoration-[#A0A0A0] hover:duration-150" target="_blank">Boozt</a> and <a href="https://lyon.com.ph" class="underline decoration-[#606060] decoration-1 underline-offset-[2.5px] hover:decoration-[#A0A0A0] hover:duration-150" target="_blank">LYON</a>.</p>
    </div>
    <div>
        <p class="font-newsreader italic text-white">Site is under construction. Come back soon!</p>
    </div>
</div> 