---
import { SITE_TITLE } from "../consts";
import "../styles/global.css";
---

<div class="max-w-[46rem] w-full grid md:grid-cols-[1fr,1.5fr] md:px-4 md:gap-0 mx-[1.8rem]">
  <!-- Title -->
  <div class="mb-5 pl-22">
    <h1 class="text-white font-medium text-lg font-inter tracking-tight">
      {SITE_TITLE}
    </h1>
    <span class="text-chalice font-geist">Product, UX, Systems</span>
  </div>
  <!-- About -->
  <div class="mb-8 text-white font-geist">
    <p class="mb-5">
      Based in Manila. Currently, I'm the President of
      <a href="https://www.uxsociety.org/" class="underline-gr hover:text-electric" target="_blank">User Experience Society</a> and a Management Information Systems student, specializing in Data Science and Analytics at ADMU.
    </p>
    <p class="mb-6">
      Previously, I was the Founding Designer of
      <a href="https://boozt.io" class="underline-gr hover:text-electric" target="_blank">Boozt</a> and
      <a href="https://lyon.com.ph" class="underline-gr hover:text-electric" target="_blank">LYON</a> when I was 17 'til 19.
    </p>
    <span class="font-newsreader italic text-chalice">Site is under construction. Come back soon!</span>
  </div>
</div>