
---
import { SITE_TITLE } from "../consts";
---
<div class="max-w-lg w-full sm:mx-0 mx-12">
    <div class="mb-5">
        <h1 class="text-[18px] font-medium text-[#161416] tracking-tight font-geist">{ SITE_TITLE }</h1>
        <p class="text-[#9CA3AF] tracking-tight font-geist">Design Engineer</p>
    </div>
    <div class="mb-12">
        <p class="text-[#9CA3AF] font-geist mb-4"><span class="font-newsreader italic">Creative development.</span> Building polished software and web experiences. Experimenting with magical details in user interfaces.</p>
        <p class="text-[#9CA3AF] font-geist">Former Founding Designer at Boozt and LYON.</p>
    </div>
    <div class="grid grid-cols-3 gap-4 text-[#9CA3AF] font-geist">
        <div>
            <h2 class="text-sm">Building</h2>
        </div>
        <div>
            <h2 class="text-sm">Projects</h2>
        </div>
        <div>
            <h2 class="text-sm">Writing</h2>
        </div>
    </div>
</div> 