---
import { SITE_TITLE } from "../consts";
import "../styles/global.css";
---

<div
  class="max-w-[46rem] w-full grid md:grid-cols-[1fr,1.5fr] md:px-4 md:gap-0 mx-6"
>
  <div>
    <header class="mb-5 pl-22">
      <h1 class="text-white font-medium text-lg font-inter tracking-tight">
        {SITE_TITLE}
      </h1>
      <span class="text-chalice font-geist">Design Engineer</span>
    </header>
  </div>
  <div class="mb-8 text-white font-geist" id="about">
    <p class="mb-3">
      Based in Manila. I'm currently experimenting with creative development on
      the web. Also a sophomore studying Management Information Systems at <a
        href="https://www.ateneo.edu/"
        class="underline-gr"
        target="_blank">ADMU</a
      >.
    </p>
    <p class="mb-6">
      Previously, I was the Product Design Lead at
      <a href="https://boozt.io" class="underline-gr" target="_blank">Boozt</a> and
      Head of Design at
      <a href="https://lyon.com.ph" class="underline-gr" target="_blank">LYON</a
      >.
    </p>
    <span class="font-newsreader italic text-chalice"
      >Site is under construction. Come back soon!</span
    >
  </div>
</div>
