
---
import { SITE_TITLE } from "../consts";
---
<div class="max-w-md w-full sm:mx-0 mx-12">
    <div class="mb-5">
        <h1 class="text-white text-[18px] font-medium font-geist mb-[-0.5px]">{ SITE_TITLE }</h1>
        <p class="text-[#AAAAAA] font-geist">Artist and Technologist</p>
    </div>
    <div class="mb-8">
        <p class="text-[#AAAAAA] font-geist">Experimenting with creative development on the web. Former Founding Designer of Boozt and LYON.</p>
    </div>
    <div>
        <p class="font-newsreader italic text-white">Site is under construction. Come back soon!</p>
    </div>
</div> 