---
import { SITE_TITLE } from "../consts";
import '../styles/global.css'
---
<div class="max-w-md w-full sm:mx-0 mx-10">
    <header class="mb-5">
        <h1 class="text-white font-medium font-inter tracking-tight">{ SITE_TITLE }</h1>
        <span class="text-chalice font-geist">Product Design & Engineering</span>
    </header>
    <section class="mb-8" id="about">
        <p class="text-chalice font-geist">Experimenting with creative development on the web. Former Founding Designer of <a href="https://boozt.io" class="underline-gr">Boozt</a> and <a href="https://lyon.com.ph" class="underline-gr" target="_blank">LYON</a>.</p>
    </section>
    <div>
        <span class="font-newsreader italic text-white">Site is under construction. Come back soon!</span>
    </div>
</div>